.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px;
}

h2 {
  color: #333;
}

form {
  margin-top: 20px;
}

label {
  font-weight: bold;
}

input {
  padding: 5px;
  margin: 5px;
}

button[type="submit"] {
  background-color: #4caf50; /* Green color for the button */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049; /* Darker green color on hover */
}